<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.admin.mapper.EmployeeManagementMapper">
	
	
	<!-- 단일 회원 정보 검색 -->
	<select id="selectEmployeeInfo" resultType="EmployeeInfoDTO" >
		SELECT *
		FROM vw_employee_full_info
		WHERE emp_id = #{empId}
	</select>

	<!-- 회원추가 -->
	<insert id="insertEmployeeInfo">
		INSERT INTO EMPLOYEE_INFO
		VALUES(
			#{empNo}
			, #{empName}
			, #{empGender}
			, #{deptName}
			, #{teamName}
			, #{empPosition}
			, #{empPhone}
			, #{empEmail}
			, #{empId}
			, #{empPassword}
			, #{hireDate}
			, default
			, default
			, default
		)
	</insert>




</mapper>
