<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.admin.mapper.OrganizationMapper">
	<!--전체부서목록 가져오기 -->
	<select id="getDepartmentInfo" resultType="DepartmentDTO" >
		SELECT 
			common_code_idx as department_idx,
			common_code_name as department_name
		FROM COMMON_CODE
		WHERE group_code = 'DEPARTMENT'
	</select>
	<!-- 해당부서 팀목록 가져오기 -->
	<select id="getTeamsInfoByDepartmentIdx" resultType="TeamDTO">
		SELECT *
		FROM TEAM
		WHERE department_idx = #{departmentIdx}
	</select>
	<!-- 해당부서 직책목록 가져오기 -->
	<select id="getRolesInfoByDepartmentIdx" resultType="RoleDTO">
		SELECT *
		FROM ROLE
		WHERE department_idx = #{departmentIdx}
	</select>
	<!-- 부서추가하기 -->
	<insert id="insertDepartment"  parameterType="DepartmentDTO" useGeneratedKeys="true" keyProperty="departmentIdx">
		INSERT INTO COMMON_CODE(common_code_name, group_code, common_code)
		VALUES(#{departmentName}, 'DEPARTMENT', #{departmentName})
	</insert>
	<!-- 팀추가하기 -->
	<insert id="insertTeam"  parameterType="TeamDTO" useGeneratedKeys="true" keyProperty="teamIdx">
		INSERT INTO TEAM(team_name, department_idx)
		VALUES(#{teamName}, #{departmentIdx})
	</insert>
	<!-- 직책추가하기 -->
	<insert id="insertRole"  parameterType="RoleDTO" useGeneratedKeys="true" keyProperty="roleIdx">
		INSERT INTO ROLE(role_name, department_idx)
		VALUES(#{roleName}, #{departmentIdx})
	</insert>
	<!-- 직책삭제하기 -->
	<delete id="deleteRole" parameterType="long" > 
		DELETE FROM ROLE
		where idx = #{roleIdx}
	</delete>
	<!-- 직책,메뉴,권한 테이블이 가지고있는 직책 삭제 -->
	<delete id="deleteRoleMenuAuthoByRoleIdx">
		DELETE FROM ROLE_MENU_AUTHO
		where role_idx = #{roleIdx}
	</delete>
	<!--  팀삭제 -->
	<delete id="deleteTeam">
		DELETE FROM TEAM
		where idx = #{teamIdx}
	</delete>
	<!-- 부서에속한 팀목록 -->
	<select id="departTeamList" resultType="TeamDTO">
		SELECT idx
		from TEAM
		where department_idx = #{departmentIdx}
	</select>
	<!-- 부서에속한 직책목록 -->
	<select id="departRoleList" resultType="RoleDTO">
		SELECT role_idx
		from ROLE
		where department_idx = #{departmentIdx}
	</select>
	<!-- 부서삭제 -->
	<delete id="deleteDepartment">
		DELETE FROM COMMON_CODE
		where common_code_idx = #{departmentIdx}
	</delete>
	<!-- 부서이름 수정 -->
	<update id="updateDepartment">
		UPDATE COMMON_CODE 
		SET common_code_name = #{departmentName}
		where common_code_idx = #{departmentIdx}
	</update>
	<!-- 팀이름변경 -->
	<update id="updateTeam">
		UPDATE TEAM
		SET team_name = #{teamName}
		where team_idx = #{teamIdx}
	</update>
	<!-- 직책이름변경 -->
	<update id="updateRole">
		UPDATE ROLE
		SET role_name = #{roleName}
		where role_idx = #{roleIdx}
	</update>
	<!-- 부서,팀,직책 정보 가져오기 -->
	<select id="getOrgData" resultType="Map">
		SELECT
		c.common_code_idx
		, c.common_code_name
		, r.role_idx
		, r.role_name
		, t.team_idx
		, t.team_name
		FROM COMMON_CODE c
		LEFT JOIN ROLE r
		ON c.common_code_idx = r.department_idx
		LEFT JOIN TEAM t
		ON c.common_code_idx = t.department_idx
		WHERE c.group_code = 'DEPARTMENT'
	</select>
</mapper> 