<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.admin.mapper.ProductMapper">

	<!-- 공통코드(COMMON_CODE) 테이블 ResultMap -->
	<resultMap id="commonCodeResultMap" type="CommonCodeDTO">
		<id property="commonCodeIdx" column="common_code_idx" /> 
		<result property="groupCode" column="group_code" />
		<result property="commonCode" column="common_code" />
		<result property="commonCodeName" column="category_name" />
		<result property="description" column="description" />
	</resultMap>
	
	<!-- 첨부파일(FILE) 테이블 ResultMap -->
	<resultMap id="FileResultMap" type="FileDTO">
		<id property="fileIdx" column="file_idx" /> 
		<result property="targetTable" column="target_table" />
		<result property="targetTableIdx" column="target_table_idx" />
		<result property="originalFileName" column="original_file_name" />
		<result property="realFileName" column="real_file_name" />
		<result property="subDir" column="sub_dir" />
		<result property="fileSize" column="file_size" />
		<result property="contentType" column="content_type" />
		<result property="createdAt" column="file_created_at" />
		<result property="updatedAt" column="file_updated_at" />
	</resultMap>
	
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<resultMap id="productCategoryResultMap" type="ProductDTO">
		<id property="productIdx" column="product_idx" />
		<result property="productName" column="product_name" />
		<result property="productWeight" column="product_weight" />
		<result property="productVolume" column="product_volume" />
		<result property="productFrom" column="product_from" />
		<result property="status" column="status" /> <!-- as product_status -->
		<result property="note" column="note" /> <!-- as product_note -->
		<association property="commonCode"  resultMap="commonCodeResultMap"/>
	</resultMap>
	
	<!-- 상품목록전체불러오기 -->
	<select id="selectAllProductList" resultMap="productCategoryResultMap">
		SELECT 
			p.product_idx
			, p.product_name
			, p.category_idx
			, p.product_weight
			, p.product_volume
			, p.product_from
			, p.note
			, p.status
			, c.common_code_name as category_name
		FROM PRODUCT p
		LEFT JOIN
			COMMON_CODE c
			ON p.category_idx = c.common_code_idx
		<where>
			<if test="searchType != '' and searchType != null">
				status = #{searchType} 
			</if>
			<if test="filterCategoryIdx != '' and filterCategoryIdx != null">
				AND category_idx = #{filterCategoryIdx}
			</if>
			<if test="searchKeyword != '' and searchKeyword != null">
				AND product_name LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		</where>
		<if test="orderKey != '' and orderKey != null">
			ORDER BY ${orderKey} ${orderMethod}			
		</if>
		LIMIT
			#{startRow}
			, #{listLimit}
	</select>
	
	<!-- 상품 목록 갯수 -->
	<select id="countProductList" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT
		<where>
			<if test="searchType != '' and searchType != null">
				status = #{searchType} 
			</if>
			<if test="filterCategoryIdx != '' and filterCategoryIdx != null">
				AND category_idx = #{filterCategoryIdx}
			</if>
			<if test="searchKeyword != '' and searchKeyword != null">
				AND product_name LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		</where>
	</select>
	
	<!-- 카테고리 전체 불러오기 -->
	<select id="selectAllCategoriesAsMap" resultType="commonCodeDTO">
		SELECT common_code_idx
		, common_code
		, common_code_name
		FROM COMMON_CODE
		WHERE group_code = 'CATEGORY'
	</select>

<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<!-- 등록된상품리스트 -->
	<select id="selectProductsInfo" resultType="ProductDTO">
		SELECT *
		FROM PRODUCT
	</select>
	
	<!-- 카테고리추가 -->
	<insert id="insertCategory" useGeneratedKeys="true" parameterType="CommonCodeDTO" keyProperty="commonCodeIdx">
		INSERT INTO COMMON_CODE
		(common_code_name, common_code, group_code)
		VALUES
		(#{commonCodeName}, #{commonCodeName}, 'CATEGORY')
	</insert>
	<!-- 카테고리수정 -->
	<update id="updateCategory">
		UPDATE COMMON_CODE
		SET 
		common_code_name = #{commonCodeName}
		, common_code = #{commonCodeName}
		WHERE common_code_idx = #{commonCodeIdx}
	</update>
	<!-- 카테고리에 제품이들어있나확인 -->
	<select id="countProductByCategoryIdx" resultType="int">
		SELECT count(*)
		FROM PRODUCT
		WHERE category_idx = #{commonCodeIdx}
	</select>
	<!-- 카테고리삭제 -->
	<delete id="deleteCategory">
		DELETE FROM COMMON_CODE
		WHERE common_code_idx = #{commonCodeIdx}
	</delete>
	
	<!-- 상품등록 -->
	<insert id="insertProduct" parameterType="ProductDTO" 
		useGeneratedKeys="true" keyProperty="productIdx"> 
		INSERT INTO PRODUCT
    (
        product_name,
        category_idx,
        product_weight,
        product_volume,
        product_from,
        note
    )
    VALUES
    (
        #{productName},
        #{categoryIdx},
        #{productWeight},
        #{productVolume},
        #{productFrom},
        #{note}
    )
	</insert>



	<!-- 상품상세정보 -->
	<!--  상품(PRODUCT) 테이블 ResultMap -->
	<resultMap id="productCategoryFileResultMap" type="ProductDTO">
		<id property="productIdx" column="product_idx" />
		<result property="productName" column="product_name" />
		<result property="categoryIdx" column="category_idx" />
		<result property="productWeight" column="product_weight" />
		<result property="productVolume" column="product_volume" />
		<result property="productFrom" column="product_from" />
		<result property="status" column="status" /> <!-- as product_status -->
		<result property="note" column="note" /> <!-- as product_note -->
		<association property="commonCode" resultMap="commonCodeResultMap" />
		<association property="file" resultMap="FileResultMap" />
	</resultMap>
		
	<select id="selectProductByProductIdx" resultMap="productCategoryFileResultMap">
		SELECT 
		    p.product_idx,
		    p.product_name, 
		    p.category_idx, 
		    c.common_code_name, 
		    p.product_weight,
		    p.product_volume,
		    p.product_from,
		    p.note,
		    p.status,
		    f.file_idx
		  FROM PRODUCT p
		  LEFT JOIN COMMON_CODE c ON p.category_idx = c.common_code_idx
		  LEFT JOIN FILE f ON f.target_table = 'product' and f.target_table_idx = p.product_idx
		  WHERE p.product_idx = #{productIdx}
	</select>
	
	<!-- 상품정보수정 -->
	<update id="updateProduct" parameterType="ProductDTO">
		UPDATE PRODUCT
		SET 
			product_name = #{productName}
	        , category_idx = #{categoryIdx}
	        , product_weight = #{productWeight}
	        , product_volume = #{productVolume}
	        , product_from = #{productFrom}
	        , note = #{note}
	        , status = #{status}
		WHERE product_idx = #{productIdx}
	</update>
	
	<!-- 상품삭제 -->
	<update id="deleteProduct">
		UPDATE PRODUCT
		SET
			status = "삭제"
		WHERE
			product_idx = #{productIdx}
	</update>
	
	<!-- 상품 목록 선택 -->
	<select id="selectAllProduct" resultType="productDTO">
		SELECT 
			product_idx
			, product_name
		FROM PRODUCT
		WHERE status = '활성'
		ORDER BY product_name
	</select>
	
	<!-- 단일카테고리 정보 가져오기 -->
	<select id="selectCategoryByIdx" resultType="CommoncodeDTO">
		SELECT common_code_idx, common_code_name
		FROM COMMON_CODE
		WHERE common_code_idx = #{commonCodeIdx}
	</select>
	
	<select id="selectCountSameProductName" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE product_name = #{productName}
	</select>
</mapper>