<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.admin.mapper.SupplyCompanyMapper">
	<!-- resultMap 정의 -->
	<!--  공급업체(SUPPLIER) 테이블 ResultMap -->
	<resultMap id="supplierResultMap" type="SupplierDTO">
		<id property="supplierIdx" column="supplier_idx" />
		<result property="supplierName" column="supplier_name" />
		<result property="supplierManager" column="supplier_manager" />
		<result property="supplierManagerPhone" column="supplier_manager_phone" />
		<result property="supplierZipcode" column="supplier_zipcode" />
		<result property="supplierAddress1" column="supplier_address1" />
		<result property="supplierAddress2" column="supplier_address2" />
		<result property="status" column="status" />
	</resultMap>
	
	<!--  상품(PRODUCT) 테이블 ResultMap -->
	<resultMap id="productResultMap" type="ProductDTO">
		<id property="productIdx" column="product_idx" />
		<result property="productName" column="product_name" />
		<result property="productWeight" column="product_weight" />
		<result property="productVolume" column="product_volume" />
		<result property="productFrom" column="product_from" />
		<result property="status" column="product_status" /> <!-- as product_status -->
		<result property="note" column="product_note" /> <!-- as product_note -->
	</resultMap>
	
	<!--  공급계약(SUPPLIER_PRODUCT_CONTRACT) 테이블 ResultMap -->
	<resultMap id="contractResultMap" type="SupplyContractDTO">
		<id property="supplyContractIdx" column="supplyContract_idx" />
		<result property="supplierIdx" column="supplier_idx" />
		<result property="productIdx" column="product_idx" />
		<result property="contractPrice" column="contract_price" />
		<result property="contractStart" column="contract_start" />
		<result property="contractEnd" column="contract_end" />
		<result property="minOrderQuantity" column="minOrder_quantity" />
		<result property="maxOrderQuantity" column="maxOrder_quantity" />
		<result property="status" column="contract_status" /> <!-- as contract_status -->
		<result property="note" column="contract_note" /> <!-- as contract_note -->
		<result property="createdAt" column="contract_created_at" /> 
 		<result property="updatedAt" column="contract_updated_at" /> 
	</resultMap>
	
	
	<!-- 공통코드(COMMON_CODE) 테이블 ResultMap -->
	<resultMap id="commonCodeResultMap" type="CommonCodeDTO">
		<id property="commonCodeIdx" column="common_code_idx" /> 
		<result property="groupCode" column="group_code" />
		<result property="commonCode" column="common_code" />
		<result property="commonCodeName" column="common_code_name" />
		<result property="description" column="description" />
	</resultMap>
	
	<!-- 첨부파일(FILE) 테이블 ResultMap -->
	<resultMap id="FileResultMap" type="FileDTO">
		<id property="fileIdx" column="fileIdx" /> 
		<result property="targetTable" column="target_table" />
		<result property="targetTableIdx" column="target_table_idx" />
		<result property="originalFileName" column="original_file_name" />
		<result property="realFileName" column="real_file_name" />
		<result property="subDir" column="sub_dir" />
		<result property="fileSize" column="file_size" />
		<result property="contentType" column="content_type" />
		<result property="createdAt" column="file_created_at" />
		<result property="updatedAt" column="file_updated_at" />
	</resultMap>
	
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<!-- 공급업체리스트 -->
	<select id="selectSuppliersInfo" resultType="SupplierDTO">
		SELECT 
		    s.supplier_idx,
		    s.supplier_name,
		    s.supplier_manager,
		    s.supplier_manager_phone,
		    s.supplier_zipcode,
		    s.supplier_address1,
		    s.supplier_address2,
		    s.status
		FROM 
		    SUPPLIER s
		<where>
			<if test="searchType != '' and searchType != null">
				status = #{searchType} 
			</if>
			<if test="searchKeyword != '' and searchKeyword != null">
				AND supplier_name LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		</where>
		<if test="orderKey != '' and orderkey != null">
			ORDER BY ${orderKey} ${orderMethod}			
		</if>
		LIMIT
			#{startRow}
			, #{listLimit}
	</select>
	
	<!-- 공급업체 목록 수 -->
	<select id="getSupplierCount" resultType="int">
		SELECT COUNT(*)
		FROM SUPPLIER
		<where>
			<if test="searchType != '' and searchType != null">
				status = #{searchType} 
			</if>
			<if test="searchKeyword != '' and searchKeyword != null">
				AND supplier_name LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		</where>
	</select>
	
	<!-- 공급업체등록 -->
	<insert id="insertSupplier" parameterType="SupplierDTO" useGeneratedKeys="true" keyProperty="supplierIdx">
		INSERT INTO SUPPLIER
			(supplier_name
			, supplier_manager
			, supplier_manager_phone
			, supplier_zipcode
			, supplier_address1
			, supplier_address2)
		VALUES
			(#{supplierName}
			, #{supplierManager}
			, #{supplierManagerPhone}
			, #{supplierZipcode}
			, #{supplierAddress1}
			, #{supplierAddress2})
	</insert>

	<!-- 공급업체상세정보 -->
	<select id="selectSupplierInfo" resultType="SupplierDTO">
		SELECT *
		FROM SUPPLIER
		WHERE supplier_idx = #{idx}
	</select>
	
	<!-- 공급업체정보수정 -->
	<update id="updateSupplier">
		UPDATE SUPPLIER
		SET
			supplier_name = #{supplierName}
			, supplier_manager = #{supplierManager}
			, supplier_manager_phone = #{supplierManagerPhone}
			, supplier_zipcode = #{supplierZipcode}
			, supplier_address1 = #{supplierAddress1}
		    , supplier_address2 = #{supplierAddress2}
		    , status = #{status}
		WHERE supplier_idx = #{supplierIdx}
	</update>
	
</mapper>