<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.admin.mapper.SupplyCompanyMapper">
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<!-- 공급업체리스트 -->
	<select id="selectSuppliersInfo" resultType="SupplierDTO">
		SELECT 
		    s.supplier_idx,
		    s.supplier_name,
		    s.supplier_manager,
		    s.supplier_manager_phone,
		    s.supplier_zipcode,
		    s.supplier_address1,
		    s.supplier_address2,
		    s.status
		FROM 
		    SUPPLIER s
		<where>
			<if test="searchType != '' and searchType != null">
				status = #{searchType} 
			</if>
			<if test="searchKeyword != '' and searchKeyword != null">
				AND supplier_name LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		</where>
		<if test="orderKey != '' and orderkey != null">
			ORDER BY ${orderKey} ${orderMethod}			
		</if>
		LIMIT
			#{startRow}
			, #{listLimit}
	</select>
	
	<!-- 공급업체 목록 수 -->
	<select id="getSupplierCount" resultType="int">
		SELECT COUNT(*)
		FROM SUPPLIER
		<where>
			<if test="searchType != '' and searchType != null">
				status = #{searchType} 
			</if>
			<if test="searchKeyword != '' and searchKeyword != null">
				AND supplier_name LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		</where>
	</select>
	
	<!-- 공급업체등록 -->
	<insert id="insertSupplier" parameterType="SupplierDTO" useGeneratedKeys="true" keyProperty="supplierIdx">
		INSERT INTO SUPPLIER
			(supplier_name
			, supplier_manager
			, supplier_manager_phone
			, supplier_zipcode
			, supplier_address1
			, supplier_address2)
		VALUES
			(#{supplierName}
			, #{supplierManager}
			, #{supplierManagerPhone}
			, #{supplierZipcode}
			, #{supplierAddress1}
			, #{supplierAddress2})
	</insert>

	<!-- 공급업체상세정보 -->
	<select id="selectSupplierInfo" resultType="SupplierDTO">
		SELECT *
		FROM SUPPLIER
		WHERE supplier_idx = #{idx}
	</select>
	
	<!-- 공급업체정보수정 -->
	<update id="updateSupplier">
		UPDATE SUPPLIER
		SET
			supplier_name = #{supplierName}
			, supplier_manager = #{supplierManager}
			, supplier_manager_phone = #{supplierManagerPhone}
			, supplier_zipcode = #{supplierZipcode}
			, supplier_address1 = #{supplierAddress1}
		    , supplier_address2 = #{supplierAddress2}
		    , status = #{status}
		WHERE supplier_idx = #{supplierIdx}
	</update>
	
	<!-- 공급업체 목록 조회 -->
	<select id="selectAllSupplier" resultType="SupplierDTO">
		SELECT
			supplier_idx
			, supplier_name
			FROM SUPPLIER
			ORDER BY supplier_name
	</select>
	
	<!-- 공급업체 삭제  -->
	<update id="deleteSupplierByIdx">
		UPDATE SUPPLIER
		SET
			status = "삭제"
		WHERE
			supplier_idx = #{supplierIdx}
	</update>
	
</mapper>