<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.admin.mapper.SupplyCompanyMapper">

	<!-- 공급업체리스트 -->
	<select id="selectSuppliersInfo" resultType="SupplierProductContractDTO">
		SELECT 
		    s.idx,
		    s.supplier_name,
		    s.supplier_manager,
		    s.supplier_manager_phone,
		    s.supplier_zipcode,
		    s.supplier_address1,
		    s.supplier_address2,
		    -- 계약이 존재하면 1, 아니면 0
		    CASE WHEN COUNT(spc.idx) > 0 THEN 1 ELSE 0 END AS hasContract
		FROM 
		    SUPPLIER s
		LEFT JOIN 
		    SUPPLIER_PRODUCT_CONTRACT spc
		    ON s.idx = spc.supplier_idx
		    AND spc.status = '활성'
		GROUP BY 
		    s.idx
		ORDER BY 
		    s.idx;
	</select>
	
	<!-- 공급업체등록 -->
	<insert id="insertSupplier" parameterType="SupplierProductContractDTO" useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO SUPPLIER
			(supplier_name
			, supplier_manager
			, supplier_manager_phone
			, supplier_zipcode
			, supplier_address1
			, supplier_address2)
		VALUES
			(#{supplierName}
			, #{supplierManager}
			, #{supplierManagerPhone}
			, #{supplierZipcode}
			, #{supplierAddress1}
			, #{supplierAddress2})
	</insert>
	<!-- 공급업체필터링 -->
	<select id="selectSupplierByStatus" resultType="SupplierProductContractDTO">
		SELECT * FROM SUPPLIER
    	WHERE status = #{dbStatus}
	</select>
	<!-- 공급업체의 활성화된 계약 갯수 -->
	<select id="countActiveContractsBySupplier" resultType="int" parameterType="long">
		SELECT COUNT(*)
		FROM SUPPLIER_PRODUCT_CONTRACT
		WHERE supplier_idx = #{supplierIdx}
		AND status = '활성'
	</select>
	
	<!-- 공급업체 삭제 -->
	<delete id="deleteSupplierByIdx" parameterType="long">
		DELETE FROM SUPPLIER
		WHERE idx = #{supplierIdx}
	</delete>
	
	<!-- 공급업체상세정보 -->
	<select id="selectSupplierInfo" resultType="SupplierProductContractDTO">
		SELECT *
		FROM SUPPLIER
		WHERE idx = #{idx}
	</select>
	
	<!-- 공급업체정보수정 -->
	<update id="updateSupplier">
		UPDATE SUPPLIER
		SET
			supplier_name = #{supplierName}
			, supplier_manager = #{supplierManager}
			, supplier_manager_phone = #{supplierManagerPhone}
			, supplier_zipcode = #{supplierZipcode}
			, supplier_address1 = #{supplierAddress1}
		    , supplier_address2 = #{supplierAddress2}
		WHERE idx = #{idx}
	</update>
	
</mapper>