<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.admin.mapper.TotalDashBoardMapper">
	
	<!-- 일별 입고 정보조회 -->
	<select id="selectInboundDashDataByDay" resultType="TotalDashBoardDTO">
		SELECT
		    DATE_FORMAT(iw.arrival_date, '%m-%d') AS arrivalDate,
		    p.product_name AS productName,
		    c.common_code_name AS categoryName,
		    SUM(poi.quantity) AS IBWQuantity,
		    COALESCE(SUM(rp.quantity), 0) AS RIQuantity,
		    COALESCE(SUM(d.disposal_amount), 0) AS disposalQuantity
		FROM PURCHASE_ORDER_ITEM poi 
		LEFT JOIN INBOUND_WAITING iw ON iw.order_idx = poi.order_idx
		LEFT JOIN PRODUCT p ON p.product_idx = poi.product_idx
		LEFT JOIN COMMON_CODE c ON p.category_idx = c.common_code_idx
		LEFT JOIN RECEIPT_PRODUCT rp ON iw.ibwait_idx = rp.ibwait_idx 
		            AND rp.product_idx = poi.product_idx
		LEFT JOIN DISPOSAL d ON d.receipt_product_idx = rp.receipt_product_idx
		WHERE DATE(iw.arrival_date) BETWEEN #{startDate} AND #{endDate}
		GROUP BY DATE_FORMAT(iw.arrival_date, '%m-%d'), p.product_name, c.common_code_name
		ORDER BY DATE_FORMAT(iw.arrival_date, '%m-%d');
	</select>
	
	<select id="selectInboundDashDataByWeek">
		SELECT
		    CONCAT(
		        MONTH(iw.arrival_date), '월 ',
		        FLOOR((DAY(iw.arrival_date) - 1) / 7) + 1, '주차'
		    ) AS arrivalMonthWeek,
		    p.product_name AS productName,
		    c.common_code_name AS categoryName,
		    SUM(poi.quantity) AS IBWQuantity,
		    COALESCE(SUM(rp.quantity), 0) AS RIQuantity,
		    COALESCE(SUM(d.disposal_amount), 0) AS disposalQuantity
		FROM PURCHASE_ORDER_ITEM poi 
		LEFT JOIN INBOUND_WAITING iw ON iw.order_idx = poi.order_idx
		LEFT JOIN PRODUCT p ON p.product_idx = poi.product_idx
		LEFT JOIN COMMON_CODE c ON p.category_idx = c.common_code_idx
		LEFT JOIN RECEIPT_PRODUCT rp ON iw.ibwait_idx = rp.ibwait_idx 
		            AND rp.product_idx = poi.product_idx
		LEFT JOIN DISPOSAL d ON d.receipt_product_idx = rp.receipt_product_idx
		WHERE DATE(iw.arrival_date) BETWEEN #{startDate} AND #{endDate}
		GROUP BY arrivalMonthWeek, p.product_name, c.common_code_name
		ORDER BY MIN(iw.arrival_date);
	</select>
	
	<select id="selectInboundDashDataByMonth">
		SELECT
		    CONCAT(DATE_FORMAT(iw.arrival_date, '%m'),'월') AS arrivalMonth,
		    p.product_name AS productName,
		    c.common_code_name AS categoryName,
		    SUM(poi.quantity) AS IBWQuantity,
		    COALESCE(SUM(rp.quantity), 0) AS RIQuantity,
		    COALESCE(SUM(d.disposal_amount), 0) AS disposalQuantity
		FROM PURCHASE_ORDER_ITEM poi 
		LEFT JOIN INBOUND_WAITING iw ON iw.order_idx = poi.order_idx
		LEFT JOIN PRODUCT p ON p.product_idx = poi.product_idx
		LEFT JOIN COMMON_CODE c ON p.category_idx = c.common_code_idx
		LEFT JOIN RECEIPT_PRODUCT rp ON iw.ibwait_idx = rp.ibwait_idx 
		            AND rp.product_idx = poi.product_idx
		LEFT JOIN DISPOSAL d ON d.receipt_product_idx = rp.receipt_product_idx
		WHERE DATE(iw.arrival_date) BETWEEN #{startDate} AND #{endDate}
		GROUP BY arrivalMonth, p.product_name, c.common_code_name
		ORDER BY arrivalMonth;
	</select>
	
	
	
	
	
	
</mapper>


































