<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.admin.mapper.WorkingLogMapper">
	<!-- 작업로그 조회 -->
	<select id="selectWorkingLogList" resultType="SystemLogDTO">
		SELECT *
			FROM SYSTEM_LOG
		<where>
			section = '작업로그'
			<if test="searchType != ''">
				AND ${searchType} LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		</where>
		<if test="orderKey != ''">
			ORDER BY ${orderKey} ${orderMethod}			
		</if>
		LIMIT
			#{startRow}
			, #{listLimit}
	</select>
	
	<!-- 목록 갯수 -->
	<select id="selectWorkingLogCount" resultType="int">
		SELECT count(*)
		FROM SYSTEM_LOG
		<where>
			section = '작업로그'
			<if test="searchType != ''">
				AND ${searchType} LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		</where>
	</select>
	
	
	
	
	
</mapper>