<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.inventory.mapper.InventoryActionsMapper">
	
	<insert id="insertWarehouse" >
			INSERT INTO 
				WAREHOUSE_LOCATION (location_name, rack, bay, level_position, width, depth, height)
			VALUES (
				#{locationName},
	            #{rack},
	            #{bay},
	            #{levelPosition},
	            #{width},
	            #{depth},
	            #{height}
			)	
	</insert>
	
	
	<insert id="insertOrder" >
        INSERT INTO OUTBOUND_ORDER (
            outbound_order_idx,
            franchise_idx,
            status,
            requested_date,
            expect_outbound_date
        ) VALUES (
            #{outboundOrderIdx},
            #{franchiseIdx},
            #{status},
            #{requestedDate},
            #{expectOutboundDate}
        )
    </insert>























</mapper>