<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.inventory.mapper.InventoryActionsMapper">
	
	<insert id="insertWarehouse" >
	
		<foreach collection="locationList" item="item">
			INSERT INTO 
				WAREHOUSE_LOCATIONS (location_name, rack, bay, level_position, width, depth, height)
			VALUES (
				#{item}
				, SUBSTRING(#{item}, 1, 1)
				, SUBSTRING(#{item}, 3, 1)
				, SUBSTRING(#{item}, 5, 2)
				, #{width}
				, #{depth}
				, #{height}
			)
		</foreach>
		
	</insert>






















</mapper>