<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.inventory.mapper.InventoryTransferMapper">

	<!-- 파레트존 재고 -->
    <select id="selectPalletZoneStock" resultType="com.itwillbs.keanu_coffee.inventory.dto.InventoryDTO">
        SELECT i.inventory_idx   AS inventoryIdx,
               i.product_idx     AS productIdx,
               i.lot_number      AS lotNumber,
               i.quantity        AS quantity,
               i.location_idx    AS locationIdx
        FROM INVENTORY i
        WHERE i.location_idx = 9999
    </select>

    <!-- 피킹존 현재 재고 -->
    <select id="selectPickingZoneStock" resultType="com.itwillbs.keanu_coffee.inventory.dto.InventoryDTO">
        SELECT i.inventory_idx   AS inventoryIdx,
               i.product_idx     AS productIdx,
               i.lot_number      AS lotNumber,
               i.quantity        AS quantity,
               l.location_name   AS locationName,
               l.location_type   AS locationType
        FROM INVENTORY i
        JOIN WAREHOUSE_LOCATION l 
          ON i.location_idx = l.location_idx
        WHERE l.location_type = 2
    </select>

    <!-- 최근 7일 출고량 -->
    <select id="selectLast7DaysOutbound" resultType="map">
        SELECT oi.product_idx    AS productIdx,
               SUM(oi.quantity)  AS totalOutbound
        FROM OUTBOUND_ORDER_ITEM oi
        JOIN OUTBOUND_ORDER o 
          ON oi.outbound_order_idx = o.outbound_order_idx
        WHERE o.created_at >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
        GROUP BY oi.product_idx
    </select>

    <!-- 피킹존 보충 대상 (보충 필요인 상품만 조회) -->
	<select id="selectPickingZoneNeedsReplenishment" resultType="map">
	    SELECT 
	           i.product_idx       AS productIdx,
	           SUM(i.quantity)     AS currentQty,
	           ROUND((SUM(oi.quantity) / 7) * 2) AS targetQty,
	           ROUND((SUM(oi.quantity) / 7) * 2) - SUM(i.quantity) AS shortage,
	           CASE
	               WHEN SUM(i.quantity) &lt; ROUND((SUM(oi.quantity) / 7) * 2) * 0.8
	               THEN '보충 필요'
	           END AS status
	    FROM INVENTORY i
	    JOIN WAREHOUSE_LOCATION l 
	      ON i.location_idx = l.location_idx
	    LEFT JOIN OUTBOUND_ORDER_ITEM oi 
	      ON i.product_idx = oi.product_idx
	    JOIN OUTBOUND_ORDER o 
	      ON oi.outbound_order_idx = o.outbound_order_idx
	    WHERE l.location_type = 2
	      AND o.created_at &gt;= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
	    GROUP BY i.product_idx
	    HAVING status = '보충 필요'
	</select>
</mapper>










