<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.transport.mapper.DispatchMapper">
	<!-- 배차 카운트 -->
	<select id="selectDispatchCount" resultType="int">
		SELECT
			COUNT(dispatch_idx)
		FROM
			V_DISPATCH_DETAIL
		WHERE
			1 = 1
			<if test="filter != null and filter != '전체'">
			AND
				status = #{filter}
			</if>
			<if test="searchKeyword != null and searchKeyword != ''">
				AND 
					(region_name LIKE CONCAT ('%', #{searchKeyword}, '%')
				OR
					driver_name LIKE CONCAT ('%', #{searchKeyword}, '%')
				OR 
					vehicle_number LIKE CONCAT ('%', #{searchKeyword}, '%'))
			</if>
	</select>
	
	<!-- 배차 리스트 -->
	<select id="selectAllDispatch" resultType="DispatchRegionGroupViewDTO">
		SELECT *
		FROM
			V_DISPATCH_DETAIL
		WHERE
			1 = 1
			<if test="filter != null and filter != '전체'">
			AND
				status = #{filter}
			</if>
			<if test="searchKeyword != null and searchKeyword != ''">
				AND 
					(region_name LIKE CONCAT ('%', #{searchKeyword}, '%')
				OR
					driver_name LIKE CONCAT ('%', #{searchKeyword}, '%')
				OR 
					vehicle_number LIKE CONCAT ('%', #{searchKeyword}, '%'))
			</if>
		ORDER BY 
			dispatch_date DESC
			, start_slot ASC
		LIMIT
			#{startRow}     
			, #{listLimit} 
	</select>

	<!-- 배차 요청 리스트 -->
	<select id="selectDispatchList" resultType="DispatchRegionGroupViewDTO">
		SELECT *
		FROM
			V_OUTBOUND_REGION_GROUP
	</select>
	
	<!-- 배차 등록 -->
	<insert id="insertDispatch" useGeneratedKeys="true" keyProperty="dispatchIdx">
		INSERT INTO DISPATCH (
			dispatch_date
	        , start_slot
	        , region_idx
	        , created_at
	        , status
	        , urgent
	        , requires_additional
		)
		VALUES (
			#{dispatchDate}
			, #{startSlot}
			, #{regionIdx}
			, NOW()
			, #{status}
			, #{urgent}
			, #{requiresAdditional}
		)
	</insert>
	
	<!-- 배차 배정 테이블 등록 -->
	<insert id="insertDispatchAssignment">
		INSERT INTO DISPATCH_ASSIGNMENT (
			dispatch_idx
			, driver_idx
			, vehicle_idx
			, status
			, created_at
		)
		VALUES (
			#{dispatchIdx}
			, #{empIdx}
			, #{vehicleIdx}
			, #{status}
			, NOW()
		)
	</insert>
	
	<!-- 배차 매핑 테이블 등록 -->
	<insert id="insertDispatchOrderMap">
		INSERT INTO DISPATCH_ORDER_MAP (
			dispatch_idx
			, outbound_order_idx
			, created_at
		)
		VALUES (
			#{dispatchIdx}
			, #{outboundOrderIdx}
			, NOW()
		)
	</insert>
	
	<!-- 출고Idx로 배차idx 조회 -->
	<select id="selectByorderIdList" resultType="int">
		SELECT
			dispatch_idx
		FROM
			DISPATCH_ORDER_MAP
		WHERE
			outbound_order_idx = #{outboundOrderIdx}
	</select>
	
	<!-- 배차 상태 취소로 변경 -->
	<update id="updateDispatchStatus">
		UPDATE
			DISPATCH
		SET
			status = #{status}
			, updated_at = NOW()
		WHERE
			dispatch_idx = #{dispatchIdx}
	</update>
	
	<!-- 배차 상태 확인 -->
	<select id="selectDispatchStatus" resultType="string">
		SELECT
			status
		FROM
			DISPATCH
		WHERE
			dispatch_idx = #{dispatchIdx}
	</select>
	
	<!-- 배차 상세 정보(예약 및 취소 상태일 경우)  -->
	<select id="selectDispatchSummary" resultType="DispatchRegionGroupViewDTO">
		SELECT *
		FROM
			V_DISPATCH_DETAIL
		WHERE
			dispatch_idx = #{dispatchIdx}
		AND
			vehicle_idx = #{vehicleIdx}
	</select>
	
	<!-- 배차 상제 정보(적재 완료 후) -->
<!-- 	<resultMap id="DispatchDetailMap" type=""></resultMap> -->
	
	<!-- 출고 주문 테이블 상태 변경 -->
	<update id="updateOutboundOrderStatus" >
		UPDATE 	
			OUTBOUND_ORDER
		SET
			status = #{status}
			, updated_at = NOW()
		WHERE
			outbound_order_idx = #{outboundOrderIdx}
	</update>
</mapper>
