<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.transport.mapper.DriverMapper">
	<select id="selectDriverList" resultType="com.itwillbs.keanu_coffee.admin.dto.EmployeeInfoDTO">
		SELECT
			emp_idx
			, emp_no
			, emp_name
			, emp_phone
		FROM
			EMPLOYEE_INFO
		WHERE
			department_idx = 3
		AND
			role_idx = 6
		AND
			emp_status = '재직'
	</select>
</mapper>
