<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.transport.mapper.RegionMapper">
	<!-- 구역 등록 -->
	<insert id="insertRegion">
		INSERT
			COMMON_CODE(common_code_name, group_code, common_code, description)
		VALUES (
			#{regionName}, 'REGION', #{regionName}, #{regionName}
		)
	</insert>
	
	<!-- 구역 리스트 -->
	<select id="selectRegionList" resultType="com.itwillbs.keanu_coffee.common.dto.CommonCodeDTO">
		SELECT 
			common_code_idx
			, common_code_name
		FROM
			COMMON_CODE
		WHERE
			group_code = 'REGION'
	</select>
	
	<!-- 행정구역 리스트 -->
	<select id="selectAdministrativeRegionList" resultType="com.itwillbs.keanu_coffee.transport.dto.AdministrativeRegionDTO">
		select ar.*
		FROM
			ADMINISTRATIVE_REGION ar
		WHERE NOT EXISTS (
			SELECT 1
			FROM
				REGION_ADMINISTRATIVE_MAP ram
			WHERE
				ram.bcode = ar.bcode
		)
	</select>
	
	<!-- 구역 이름 수정 -->
	<update id="updateRegion">
		UPDATE
			COMMON_CODE
		SET
			common_code_name = #{commonCodeName}
			, common_code = #{commonCodeName}
			, description = #{commonCodeName}
		WHERE
			common_code_idx = #{commonCodeIdx}
			
	</update>
	
	<!-- 구역 삭제 -->
	<delete id="deleteRegion">
		DELETE FROM
			COMMON_CODE
		WHERE
			common_code_idx = #{commonCodeIdx}
	</delete>
	
	<!-- 구역이름 중복 검사 -->
	<select id="countRegionName" resultType="int">
		SELECT
			 COUNT(*)
		FROM 
			COMMON_CODE
		WHERE
			group_code = 'REGION'
		AND
			common_code_name LIKE CONCAT('%', #{regionName}, '%')
	</select>
	
	<!-- ================================================ -->
	<!-- 구역 매핑 등록 -->
	<insert id="insertMapping">
		INSERT 
			REGION_ADMINISTRATIVE_MAP(region_idx, bcode)
		VALUES (
			#{regionIdx}, #{bcode}
		)
	</insert>
	
	<!-- 구역별 행정 리스트 -->
	<select id="selectMappingRegionList" resultType="com.itwillbs.keanu_coffee.transport.dto.MappingDTO">
		SELECT
			c.common_code, ad.sido, ad.sigungu, ad.dong, ram.bcode, ram.region_administrative_map_idx
		FROM
			COMMON_CODE c
		JOIN
			REGION_ADMINISTRATIVE_MAP ram
		ON
			c.common_code_idx = ram.region_idx
		JOIN
			ADMINISTRATIVE_REGION ad
		ON
			ram.bcode = ad.bcode
	</select>
	
	<!-- 행정구역 삭제 -->
	<delete id="deleteMapping">
		DELETE FROM	
			REGION_ADMINISTRATIVE_MAP
		WHERE
			region_administrative_map_idx = #{idx}
	</delete>
	
	<!-- 행정구역 그룹 삭제 -->
	<delete id="deleteAllMapping">
		DELETE FROM
			REGION_ADMINISTRATIVE_MAP
		WHERE 
			region_administrative_map_idx 
		IN
			<foreach collection="list" item="idx" open="(" separator="," close=")">
				#{idx}
			</foreach>
	</delete>
	
	<!-- 매핑 정보 조회 -->
	<select id="findByIdx" resultType="com.itwillbs.keanu_coffee.transport.dto.MappingDTO">
		SELECT *
		FROM
			REGION_ADMINISTRATIVE_MAP
		WHERE
			region_administrative_map_idx = #{idx}
	</select>
</mapper>
