<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.transport.mapper.RouteMapper">
	<!-- 최대 delivery_sequence 조회 -->
	<select id="findMaxSequence" resultType="int">
		SELECT
			COALESCE(MAX(delivery_sequence), 0)
		FROM
			ROUTE
		WHERE
			region_idx = #{regionIdx}
	</select>
	
	<!-- 배송 순서 등록 -->
	<insert id="insertRoute">
		INSERT INTO ROUTE(region_idx, delivery_sequence, franchise_idx)
		VALUES (
			#{regionIdx}
			, #{deliverySequence}
			, #{franchiseIdx}
		)
	</insert>
	
	<!-- 배송 경로에서 지점 삭제 -->
	<delete id="deleteByRegionAndFranchise">
		DELETE FROM ROUTE
		WHERE
			region_idx = #{regionIdx}
		AND 
			franchise_idx = #{franchiseIdx}
	</delete>
</mapper>
