<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="layoutPattern">%d{yyyy-MM-dd HH:mm:ss} %-5p: [%c] - %m%n</Property>
	</Properties>

	<!-- Appender, Layout 설정 -->
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${layoutPattern}" />
		</Console>
		
		<RollingFile name="rollingFile"
						fileName="./my_log/rolling_log.log"
						filePattern="./my_log/rolling_log-%d{yyyy-MM-dd}%i.log">
			<PatternLayout pattern="${layoutPattern}" />
			
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile>
		
		<RollingFile name="rollingFileForSQL"
						fileName="./my_log/rolling_log_sql.log"
						filePattern="./my_log/rolling_log_sql-%d{yyyy-MM-dd}%i.log">
			<PatternLayout pattern="${layoutPattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile>
		

		
	</Appenders>
	
	<!-- Logger 설정 -->
	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="console"></AppenderRef>
			<AppenderRef ref="rollingFile"></AppenderRef>
		</Root>
		<!-- Application Loggers -->
		<Logger name="com.itwillbs.keanu_coffee" level="INFO" additivity="false">
			<AppenderRef ref="console"></AppenderRef>
			<AppenderRef ref="rollingFile"></AppenderRef>
		</Logger>
		
		<!-- log4jdbc 를 활용한 SQL 로그 출력을 위해 SQL Logger 항목 설정 추가 -->
		<Logger name="jdbc.sqlonly" level="OFF" additivity="false">
			<AppenderRef ref="console"></AppenderRef>
		</Logger>

		<!-- jdbc.sqltiming 로그 : sqlonly 로그 + 실행에 소용된 시간(밀리초)을 포함하는 로그 -->
		<Logger name="jdbc.sqltiming" level="INFO" additivity="false">
			<AppenderRef ref="console"></AppenderRef>
			<AppenderRef ref="rollingFileForSQL"></AppenderRef>
		</Logger>
		
		<!-- jdbc.audit 로그 : JDBC 호출 정보에 대한 로그(ResultSet 결과 제외) -->
		<Logger name="jdbc.audit" level="OFF" additivity="false">
			<AppenderRef ref="console"></AppenderRef>
		</Logger>
		
		<!-- jdbc.resultset 로그 : ResultSet 객체 내용을 포함한 JDBC 호출 정보에 대한 로그 -->
		<Logger name="jdbc.resultset" level="OFF" additivity="false">
			<AppenderRef ref="console"></AppenderRef>
		</Logger>
		
		<!-- jdbc.resultsettable 로그 : SELECT 구문 실행 결과(데이터 테이블 = ResultSet 객체 내용) 에 대한 로그 -->
		<Logger name="jdbc.resultsettable" level="INFO" additivity="false">
			<AppenderRef ref="console"></AppenderRef>
			<AppenderRef ref="rollingFileForSQL"></AppenderRef>
		</Logger>
		
		<!-- 트랜잭션 로그 확인용 로거 추가 -->
		<Logger name="org.springframework.transaction" level="OFF" additivity="false">
			<AppenderRef ref="console"></AppenderRef>
		</Logger>
		
		<!-- JDBC 연동 관련(DataSource) 로그 확인용 로거 추가 -->
		<Logger name="org.springframework.jdbc.datasource" level="OFF" additivity="false">
			<AppenderRef ref="console"></AppenderRef>
		</Logger>
		
		<!-- 스프링 시큐리티 패키지 관련 로거 추가 -->
		<Logger name="org.springframework.security" level="DEBUG" additivity="false">
			<AppenderRef ref="console"></AppenderRef>
		</Logger>
		
		<!-- CustomAccessDeniedHandler가 있는 패키지의 로거 추가 -->
		<Logger name="com.itwillbs.keanu_coffee.common.security" level="DEBUG" additivity="false">
		    <AppenderRef ref="console"></AppenderRef>
		    <AppenderRef ref="rollingFile"></AppenderRef>
		</Logger>

	</Loggers>
</Configuration>








