<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.demoData.mapper.DemoDataMapper">

	<select id="getEmployeeData" resultType="EmployeeInfoDTO">
		SELECT *
		FROM EMPLOYEE_INFO
	</select>


	<select id="getEmployeeDataByRole" resultType="EmployeeInfoDTO">
		SELECT *
		FROM EMPLOYEE_INFO
		WHERE role_idx = #{roleIdx}
	</select>
	
	<select id="getSupplyContract" resultType="SupplyContractDTO">
		SELECT *
		FROM SUPPLIER_PRODUCT_CONTRACT
	</select>
	
	

</mapper>
