<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.keanu_coffee.outbound.mapper.OutboundMapper">

	<!-- management 상품 조회 -->
	<select id="selectObManagementList" resultType="com.itwillbs.keanu_coffee.outbound.dto.OutboundManagementDTO">
	    SELECT 
	         oo.outbound_order_idx          AS outboundOrderIdx
	        ,ow.obwait_number               AS obwaitNumber
	        ,ow.departure_date              AS departureDate
	        ,ow.outbound_location           AS outboundLocation
	        ,f.franchise_name               AS franchiseName
	        ,oo.status                      AS status
	        ,COUNT(oi.outbound_order_item_idx) AS itemCount
	        ,SUM(oi.quantity)               AS totalQuantity
	        ,ow.manager                     AS manager
	        ,ow.note                        AS note
	    FROM OUTBOUND_WAITING ow
	    JOIN OUTBOUND_ORDER oo 
	      ON ow.outbound_order_idx = oo.outbound_order_idx
	    JOIN FRANCHISE f 
	      ON oo.franchise_idx = f.franchise_idx
	    LEFT JOIN OUTBOUND_ORDER_ITEM oi 
	      ON oo.outbound_order_idx = oi.outbound_order_idx
	    GROUP BY 
	         oo.outbound_order_idx
	        ,ow.obwait_number
	        ,ow.departure_date
	        ,ow.outbound_location
	        ,f.franchise_name
	        ,oo.status
	        ,ow.manager
	        ,ow.note
	    ORDER BY ow.departure_date DESC
	</select>


</mapper>
